@import 'tailwindcss';
@import './fonts.css';

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

.bg-primary {
  background-color: #7772f1;
}

.text-primary {
  color: #7772f1;
}

.border-primary {
  border-color: #7772f1;
}

.contain {
  margin: 0 auto;
  padding: 0 120px;
}

@media (max-width: 1248px) {
  .contain {
    max-width: 1148px;
    padding: 0 100px;
  }
}

@media (max-width: 1094px) {
  .contain {
    max-width: 974px;
    padding: 0 20px;
  }
}
